.picture-picker {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.picture-picker .img-wrap {
  cursor: pointer;
  flex: 33.33333%;
  max-height: 200px;
  position: relative;
}

.picture-picker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture-picker .check {
  position: absolute;
  left: 0;
  padding: 10px;
  background: #00000066;
}
