body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
.wrapper {
  margin: 50px;
  display: flex;
  flex-direction: column;
  width: 420px;
  /* height: 594px; */

  border: 100px solid #000;
}
.row {
  display: flex;
  flex-direction: row;
  background: #fff;
}
.row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrap {
  flex: auto;
  padding: 1px;
  cursor: move;
  animation: fade 1.5s infinite 100ms;
  animation: addImage 0.5s ease-in-out;
}

.App {
  display: flex;
  background: #000;
}

.selector-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.photo-grid {
  overflow: scroll;
  height: 100vh;
}

@keyframes addImage {
  from {
    opacity: 0;
  }
}
